{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<div id="dashboard-section" class="mb-4">
	<h2 class="text-3xl font-bold mb-4">Welcome, {{ user.firstname }}</h2>
	{% if current_user.role_title != 'Farmer' %}
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		<div class="bg-gray-200 rounded-lg p-4">
			<h3 class="text-xl font-semibold mb-2">Total Sales</h3>
			<p class="text-2xl">$120,000</p>
		</div>
		<div class="bg-gray-200 rounded-lg p-4">
			<h3 class="text-xl font-semibold mb-2">New Orders</h3>
			<p class="text-2xl">45</p>
		</div>
		<div class="bg-gray-200 rounded-lg p-4">
			<h3 class="text-xl font-semibold mb-2">Pending Shipments</h3>
			<p class="text-2xl">20</p>
		</div>
	</div>
	{% endif %}
</div>
<div class="mx-auto text-center">
	{% if user.role_title == 'Manufacturer' %}
	<div class="[100%] mb-4">
		<button id="addProductButton" class="float-right bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
			ADD PRODUCT
		</button>
		<h3 class="text-xl font-semibold mb-4 mt-6">Manage Products</h3>
	</div>
	<div class="overflow-x-auto">
		<table class="min-w-full bg-white table-responsive">
			<thead>
				<tr>
					<th class="py-2">Name</th>
					<th class="py-2">Description</th>
					<th class="py-2">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in user.products %}
				<tr>
					<td class="p-2">{{ product.name }}</td>
					<td class="p-2 text-left">{{ product.description }}</td>
					<td class="p-2">
						<a href="{{url_for('products.view_product', product_id=product.id)}}" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
							DETAILS
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<h3 class="text-xl font-semibold mb-4 mt-6">Orders from Wholesalers</h3>

	<div class="overflow-x-auto">
		<table class="min-w-full bg-white">
			<thead>
				<tr>
					<th class="py-2">Order ID</th>
					<th class="py-2">Date</th>
					<th class="py-2">Total</th>
					<th class="py-2">Status</th>
				</tr>
			</thead>
			<tbody>
				{% for order in user.orders %}
				<tr>
					<td class="py-2">{{ order.id }}</td>
					<td class="py-2">{{ order.date }}</td>
					<td class="py-2">{{ order.total }}</td>
					<td class="py-2">{{ order.status }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% endif %}

	{% include 'products/add_product.html' %}

</div>

<!-- Order History -->
{% if user.role_title != 'Manufacturer' %}
<h3 class="text-xl font-semibold mb-4 mt-6">Order History</h3>
<div class="overflow-x-auto">
	<table class="min-w-full bg-white">
		<thead>
			<tr>
				<th class="py-2">Order ID</th>
				<th class="py-2">Date</th>
				<th class="py-2">Total</th>
				<th class="py-2">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for order in user.orders %}
			<tr>
				<td class="py-2">{{ order.id }}</td>
				<td class="py-2">{{ order.date }}</td>
				<td class="py-2">{{ order.total }}</td>
				<td class="py-2">{{ order.status }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

<!-- Orders Received -->
{% if user.role_title != 'Farmer' %}
<h3 class="text-xl font-semibold mb-4 mt-6">Orders Received</h3>
<div class="overflow-x-auto">
	<table class="min-w-full bg-white">
		<thead>
			<tr>
				<th class="py-2">Order ID</th>
				<th class="py-2">Date</th>
				<th class="py-2">Total</th>
				<th class="py-2">Status</th>
			</tr>
		</thead>
		<tbody>
			{% for order in user.received_orders %}
			<tr>
				<td class="py-2">{{ order.id }}</td>
				<td class="py-2">{{ order.date }}</td>
				<td class="py-2">{{ order.total }}</td>
				<td class="py-2">{{ order.status }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

<!-- Reports and Analytics -->
{% if current_user.role_title != 'Farmer' %}
<div id="reports-section" class="">
	<h2 class="text-3xl font-bold mb-4">Reports</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
		<div class="bg-gray-200 rounded-lg p-4">
			<h3 class="text-xl font-semibold mb-2">Sales Report</h3>
			<p class="text-lg">Download monthly sales reports to track your revenue.</p>
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">
				Download
			</button>
		</div>
		<div class="bg-gray-200 rounded-lg p-4">
			<h3 class="text-xl font-semibold mb-2">Inventory Report</h3>
			<p class="text-lg">Keep an eye on your inventory levels with detailed reports.</p>
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">
				Download
			</button>
		</div>
		<div class="bg-gray-200 rounded-lg p-4">
			<h3 class="text-xl font-semibold mb-2">Customer Report</h3>
			<p class="text-lg">Analyze customer data to understand buying patterns.</p>
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">
				Download
			</button>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
